<!-- wp:ourblocktheme/header /-->

<!-- wp:ourblocktheme/banner -->
<!-- wp:ourblocktheme/genericheading {"text":"Welcome"} /-->

<!-- wp:ourblocktheme/genericheading {"text":"We think you'll like it here.","size":"medium"} /-->

<!-- wp:ourblocktheme/genericheading {"text":"Why don't you check out the \u003cstrong\u003emajor\u003c/strong\u003e you're interested in?","size":"small"} /-->

<!-- wp:ourblocktheme/genericbutton {"text":"Find Your Major","linkObject":{"0":"#","url":"/programs"},"colorName":"dark-orange"} -->
<a href="/programs" class="wp-block-ourblocktheme-genericbutton btn btn--large btn--dark-orange">Find Your Major</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner -->

<!-- wp:ourblocktheme/eventsandblogs /-->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage":"bus.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Free Transportation","size":"medium"} /-->

<!-- wp:ourblocktheme/genericheading {"text":"All students have free unlimited bus fare.","size":"small"} /-->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium","colorName":"dark-orange"} -->
<a class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--dark-orange">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"apples.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"An Apple a Day","size":"medium"} /-->

<!-- wp:ourblocktheme/genericheading {"text":"Our dentistry program recommends eating apples.","size":"small"} /-->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More!"} -->
<a class="wp-block-ourblocktheme-genericbutton btn btn--large btn--blue">Learn More!</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"bread.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Free Food","size":"medium"} /-->

<!-- wp:ourblocktheme/genericheading {"text":"Fictional University offers lunch plans for those in need.","size":"small"} /-->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More"} -->
<a class="wp-block-ourblocktheme-genericbutton btn btn--large btn--blue">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/footer /-->